@font-face {
  font-family: blacklist;
  src: url(blacklist.ttf);
}

.menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 2px;
  background-color: rgba(0,0,0,.7)
}

.menuitem {
  margin: 0;
  padding: 6px 22px;
  font-weight: bold;
  font-family: arial;
  font-size: 16px;
  color: #cdf;
}

.menuitem:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.menuitem-right {
  float: right;
}

.pageTitle {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
  font-family: blacklist;
  font-size: 76px;
  text-shadow: 2px 2px 2px #fff;
}

.contentBoxOuter {
  position: absolute;
  top: 290px;
  width: 100%;
}

.contentBoxInner {
  background-color: rgba(0,0,0,.5);
  /*height: 100px; */
  padding: 15px;
  font-family: arial;
  color: #fff;
  margin: 0px auto;
  width: 100%;
  border-radius: 11px;
  box-shadow: 2px 2px 2px #000;
  overflow: auto;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.column {
  width: 40%;
  margin: 10px 20px;
  float: left;
}

