<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Be The Wave! (bethewave.vote)</title>
    <style type="text/css" media="screen">
      @import url("./css/main.css");
    </style>
    <style>
    .trigger {
      position: absolute;
      top: 0;
      left: 8px;
      width: 12px;
      height: 12px;
      color: rgba(255,255,255,.3);
      z-index: 50000;
      font-family: arial;
      font-size: 10px;
      cursor: pointer;
    }
    </style>
  </head>
  <body style="margin: 0; padding: 0; background-color: #111722;">
    <div style="width: 100%; margin: 0; padding: 0; postion: relative">
      <img style="position: absolute; top: 0; left: 0; width: 100%" src="img/waveRogerMosley.jpg" />
      <div class="menubar">
        <div class='menuitem menuitem-right'>Sign in</div>
        <div class='menuitem menuitem-right'>Sign up</div>
        <div class='menuitem'>Home</div>


      </div>

      <div class='pageTitle'>Be The Wave...</div>
      <div class='contentBoxOuter'><div class='contentBoxInner'>
      <div class='buttonContainer' style='display: none' id='button'>
        <a class="typeform-share button"
        href="https://maneeshika.typeform.com/to/niZ9ja"
        data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#26a2dd;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Sign Up Today</a>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script>
      </div>

    <div class="marketing" id='_1'  style='display: none; clear:both'>
      <div class="column">
        <h4>The problem</h4>
        <p>Power Progressives need a way to get their friends and
        groups of friends to vote</p>

        <h4>What we're up against</h4>
        <p>
        What gets exploited:
        <ul>
          <li>Apathy</li>
          <li>manufactured cynicism</li>
          <li>micro-targeted  disinformation</li>
          <li>voter suppression</li>
        </ul>
        </p>
        <p>What does it do:
        <ul>
          <li>Lowers turnout</li>
          <li>skews elections toward the already
powerful</li>
        </ul>
        </p>
      </div>

      <div class="column">
        <h4>Mission</h4>
        <p>Help Power Progressives help their friends vote via a
        personal productivity app using a task list tied to the
        electoral calendar</p>

        <h4>How we do it</h4>
        <p>
          We make it easy by providing a <b>brief simple daily
          task</b> to:
          <ul>
            <li>create</li>
            <li>curate</li>
            <li>update</li>
          </ul>
          ...a contact list of friends, neighbors, and family
          <b>who should vote</b>.</p>
          <p>
            Voting is solitary, requires knowledge and action. We want
            to bring people together to get it done.
          </p>
        </p>
      </div>
</div>



      <div class="marketing" id='_2'  style='clear:both'>
      <div class="column">
        <ul>
        <li>You - what we think we know about you</li>
        <li>Your voters - the voters you are helping out</li>
        <li>Your tasks - what we think we know about you</li>
        <li>Settings</li>
        </ul>
      </div>
      <div class="column">
        <h4>Your voters</h4>
        <ul>
        <li>Avery</li>
        <li>Dakota</li>
        </ul>
      </div>
    </div>



    <div class="marketing" id='_3'  style='display:none; clear:both'>
      <div class="column">
        <ul>
        <li>You - what we think we know about you</li>
        <li>Your voters - the voters you are helping out</li>
        <li>Your tasks - what we think we know about you</li>
        <li>Settings</li>
        </ul>
      </div>
      <div class="column">
        <h4>Your tasks</h4>
        <ol>
        <li>Ask Dakota if they are aware that their voter registration entry no longer appears in Ohio's voter registration list</li>
        </ol>
      </div>
    </div>



<div class="marketing" id='_4'  style='display:none; clear:both'>
      <div class="column">
        <ul>
        <li>You - what we think we know about you</li>
        <li>Your voters - the voters you are helping out</li>
        <li>Your tasks - what we think we know about you</li>
        <li>Settings</li>
        </ul>
      </div>
      <div class="column">
        <h4>Your tasks</h4>
        <ol>
        <li>Link Avery to our Alabama voter registration database</li>
        <li>Link Dakota to our Ohio voter registration database</li>
        </ol>
      </div>
    </div>

<div class="marketing" id='_5' style='display:none; clear:both'>
      <div class="column">
        <ul>
        <li>You - what we think we know about you</li>
        <li>Your voters - the voters you are helping out</li>
        <li>Your tasks - what we think we know about you</li>
        <li>Settings</li>
        </ul>
      </div>
      <div class="column">
        <h4>Your tasks</h4>
        <ol>
          <li>Ensure Avery knows how to get to the Dec. 12 election</li>
          <li>Link your account to our voter registration database</li>
        </ol>
      </div>
    </div>




</div>
    </div>

<div class='trigger' style="top: 30px;" onclick='selectItem(1)'>1</div>
<div class='trigger'  style="top: 48px;" onclick='selectItem(2)'>2</div>
<div class='trigger'  style="top: 66px;" onclick='selectItem(3)'>3</div>
<div class='trigger'  style="top: 84px;" onclick='selectItem(4)'>4</div>
<div class='trigger'  style="top: 102px;" onclick='selectItem(5)'>5</div>


    <script>
      function selectItem(index) {
        for(var i=1; i<6; i++) {
          elem = document.getElementById('_' + i);
          if(i === index) {
            elem.style.display = ''
          } else {
              elem.style.display = 'none'
          }
        }
        button = document.getElementById('button');
        button.style.display = (index == 1) ? '' : 'none';
      }
     </script>


  </body>
</html>
