<!DOCTYPE html>
<html lang="en">
 
<head>
  <title>Your dashboard (bethewave.vote)</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
</head>
<body>
    <div class="row">
      <div class="col-lg-6">
        <ul>
        <li>You - what we think we know about you</li>
        <li>Your voters - the voters you are helping out</li>
        <li>Your tasks - what we think we know about you</li>
        <li>Settings</li>        
        </ul>
      </div>
      <div class="col-lg-6">
        <h4>Your tasks</h4>
        <ol>
        <li>Ask Dakota if they are aware that their voter registration entry no longer appears in Ohio's voter registration list</li>
        </ol>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; BeTheWave.vote 2017</p>
    </footer>
  </div>
</body>

</html>
