<!DOCTYPE html>
<html lang="en">
 
<head>
  <title>Be The Wave! (bethewave.vote)</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a>
          </li>
          <li role="presentation"><a href="#">Sign In</a>
          </li>
          <li role="presentation"><a href="showSignUp">Sign Up</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Prompts for power progressives</h3>
    </div>
    <div class="jumbotron">
      <h1>Be The Wave!</h1>
      <p class="lead"></p>
      <p>
        <a class="typeform-share button" 
        href="https://maneeshika.typeform.com/to/niZ9ja" 
        data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#26a2dd;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Sign Up Today</a>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script>
      </p>
    </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>The problem</h4>
        <p>Power progressives need a way to get their friends and groups
        of friends to vote</p>

        <h4>What's worse....</h4>
        <p>Apathy, manufactured cynicism,  weaponized disinformation, 
        micro targeting and voter suppression has lowered voter 
        turnout, and was abused to disenfranchise voters and skew 
        elections toward the already powerful)</p>
      </div>

      <div class="col-lg-6">
        <h4>Mission</h4>
        <p>Help power progressives help their friends vote via a 
        personal productivity app using a task list tied to the 
        electoral calendar</p>

        <h4>How we do it</h4>
        <p>
          We provide an app that creates a social web of power
          activists that nudges them to provide effective help for
          disenfranchised voters.
          Boost the electoral power long-suffering and reliable
          minority voters.  Make it easier for progressive voters to 
          help their friends, neighbors and family to vote.
        </p>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; BeTheWave.vote 2017</p>
    </footer>
  </div>
</body>

</html>
