<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Be The Wave! (bethewave.vote)</title>
    <style type="text/css" media="screen">
      @import url("./css/main.css");
    </style>
  </head>
  <body style="margin: 0; padding: 0; background-color: #111722;">
    <div style="width: 100%; margin: 0; padding: 0; postion: relative">
      <img style="position: absolute; top: 0; left: 0; width: 100%" src="img/waveRogerMosley.jpg" />
      <div class="menubar">
        <div class='menuitem menuitem-right'>Sign in</div>
        <div class='menuitem menuitem-right'>Sign up</div>
        <div class='menuitem'>Home</div>


      </div>

      <div class='pageTitle'>Be The Wave...</div>
      <div class='contentBoxOuter'><div class='contentBoxInner'>
      <div class='buttonContainer'>
        <a class="big-blue-button"
        href="https://maneeshika.typeform.com/to/niZ9ja"
        data-mode="popup" target="_blank">Sign Up Today</a>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script>
      </div>

    <div class="marketing">
      <div class="column">
        <h4>The problem</h4>
        <p>Power Progressives need a way to get their friends and
        groups of friends to vote</p>

        <h4>What we're up against</h4>
        <p>
        What gets exploited:
        <ul>
          <li>Apathy</li>
          <li>manufactured cynicism</li>
          <li>micro-targeted  disinformation</li>
          <li>voter suppression</li>
        </ul>
        </p>
        <p>What does it do:
        <ul>
          <li>Lowers turnout</li>
          <li>skews elections toward the already
powerful</li>
        </ul>
        </p>
      </div>

      <div class="column">
        <h4>Mission</h4>
        <p>Help Power Progressives help their friends vote via a
        personal productivity app using a task list tied to the
        electoral calendar</p>

        <h4>How we do it</h4>
        <p>
          We make it easy by providing a <b>brief simple daily
          task</b> to:
          <ul>
            <li>create</li>
            <li>curate</li>
            <li>update</li>
          </ul>
          ...a contact list of friends, neighbors, and family
          <b>who should vote</b>.</p>
          <p>
            Voting is solitary, requires knowledge and action. We want
            to bring people together to get it done.
          </p>
        </p>
      </div>
    </div>
    </div>
</div>
    </div>
  </body>
</html>
